<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GIS project</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/leafletMap.css" />
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-8">Gis - geographic information system</h1>
        <p class="lead text-secondary">
          This project implement traceRoute network command, and displays the
          path on a map.
        </p>
      </div>
    </div>

    <form id="form" action="https://aqueous-earth-78635.herokuapp.com/admin/postData" method="POST">
      <input type="url" value="https://" name="url" />
      <button id="submit" type="submit">Trace Route</button>
    </form>
    <div class="d-flex justify-content-center">
      <div
        id="loading"
        class="spinner-border"
        style="width: 8rem; height: 8rem; display: none; text-align: center;"
        role="status"
      >
        <span class="sr-only">Loading Map</span>
      </div>
    </div>

    <script type="text/javascript">
      (function (d) {
        d.getElementById('form').onsubmit = function () {
          d.getElementById('form').style.display = 'none';
          d.getElementById('submit').style.display = 'none';
          d.getElementById('loading').style.display = 'block';
        };
      })(document);
    </script>
  </body>
</html>
